# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.eggs/
*.log
*.sqlite3

# Virtual env
.env/
.venv/
env/
venv/
ENV/
Pipfile.lock
poetry.lock

# IDEs
.vscode/
.idea/
*.swp

# PyPI build
dist/
build/
*.egg-info/

# Test/coverage
.coverage
htmlcov/
.tox/
.cache/
pytest_cache/
nosetests.xml
coverage.xml

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/
